/* ContactForm.css */
.contact-form-page {
  background: url(https://res.cloudinary.com/dprjiwgfo/image/upload/v1724004104/tovoz9gojim9ku2mkqq6.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh; /* Ensures the background covers the entire viewport height */
  padding: 20px; /* Add padding if needed */
}
.contact-form-container {
    max-width: 700px;
    margin: auto auto;
    padding: 30px;
    margin-top: 100px ;
    background-color: #ffde91;
    background-image: linear-gradient(315deg, #fec84e 0%, #ffdea8 74%);
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .contact-form-heading {
    font-size: 2.5rem;
    color: #333;
    margin: 25px;
    padding: 30px ;
    font-family: 'Pacifico', cursive;
  }
  
  .contact-form-message {
    font-size: 1.3rem;
    color: #4caf50;
    margin-bottom: 25px;
    font-family: 'Roboto', sans-serif;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .form-group label {
    font-size: 1.1rem;
    color: #444;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
  }
  
  .form-group input,
  .form-group textarea {
    width: 90%;
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 8px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    font-size: 1rem;
    background-color: #ebe0e0;
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    border-color: #ff5722;
    box-shadow: 0 0 8px rgba(255, 87, 34, 0.4);
    outline: none;
  }
  
  .submit-button {
    padding: 12px 25px;
    border: none;
    background: linear-gradient(135deg, #5e5d5d, #393939);
    color: white;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
  }
  
  .submit-button:hover {
    background: linear-gradient(135deg, #101010, #403e3e);
  }
  
  .submit-button:active {
    transform: scale(0.98);
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .contact-form-container {
      padding: 20px;
    }
  
    .contact-form-heading {
      font-size: 2rem;
    }
  
    .contact-form-message {
      font-size: 1.2rem;
    }
  
    .form-group input,
    .form-group textarea {
      font-size: 0.9rem;
    }
  
    .submit-button {
      font-size: 1rem;
      padding: 10px 20px;
    }
  }
  